/*
	movie.css
	Authors: Kyler Collins, Justin Lennox, Neal Raines, Neal Thacker
	Description: Contains the formatting for tmnt.html. 
 */
body 
{
	background-image: url("rancidbannerbg.png"), url("moviebg.png");
	background-position: center top, center center;
	background-repeat: repeat-x, repeat;
}

#banner 
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	margin: 0 auto;
}

h1 
{
	font-size: 24pt;
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 3px 3px #999999;
	margin-top: 72px;
}

.center
{
    position: relative;
    display: flex;
    margin:auto;
    border-radius: 20px;
    overflow: hidden;
	width: 800px;
	border: 4px solid #808080;
}

.left
{
    position: relative;
    display: inline-block;
	width: 550px;
}

#overall{
    overflow: hidden;
    width: 550px;
    height: 83px;
    top: 0px;
    left: 0px;
    background-image: url("rottenlargebg.png");
    background-repeat: repeat-x;
}

#reviewColumns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 47%; /* Chrome, Safari, Opera */
    -moz-column-width: 47%; /* Firefox */
    column-width: 47%;
    padding: 2%;
}

.review > p:first-child{
    overflow: hidden;
    border-radius: 10px;
    border: solid gray 2px;
    font-size: 8pt;
    top:0px;
    background-color: #E8DC9B;
    padding: 8px;
    font-weight: bold;
}

.review > p:nth-child(2){
    display: inline-block;
    vertical-align: top;
}

.publisher {
    display: inline-block;
}

.publisher > img {
    display: inline-block;
    padding-right: 5px;
}

.publisher > p {
    display: inline-block;
}

.reviewer{
    margin: 0;
}

.right
{
    display: inline-block;
    width: 250px;
    background-color: #A2B964;
    vertical-align: top;
}

dl{
    padding: 10px;
    font-family: Arial, san-serif;
    font-size: 8pt;
}

#bottomBar{
    display: inline;
    background-color: #A2B964;
}

dt
{
	font-weight: bold;
    margin-top: 10px;
}

ul
{
	list-style-type: none;
}

.percent
{
    vertical-align: top;
    overflow: hidden;
    color: red;
    display: inline-block;
    height: 100%;
	font-weight: bold;
	font-size: 48pt;
}

#smallPercent{
    color: white;
    font-size: 8pt;
}

.bottom {
	text-align: center;
	position: absolute;
	bottom: 0;
        width: 120%;
        margin-left: -20px;
	background-color: #A2B964;
}

.validators{
    position: absolute;
    right: 0px;
}

.validators > a{
    opacity: 0.5;
}

.validators > a:hover{
    opacity: 1.0;
}

